/_compiled/*
/caches/*
/data/ace/*
/data/ckeditor/*
/data/polyfills/*
/exports/*
/mobiquo/smartbanner/appbanner.js
/mobiquo/tapatalkdetect.js
/temp/*
/themes/default/javascript/_attachment_ui_defaults.js
/themes/default/javascript/charts.js
/themes/default/javascript/cookie_consent.js
/themes/default/javascript_custom/columns.js
/themes/default/javascript_custom/confluence2.js
/themes/default/javascript_custom/confluence.js
/themes/default/javascript_custom/jquery_flip.js
/themes/default/javascript_custom/sortable_tables.js
/themes/default/javascript_custom/tag_cloud.js
/themes/default/javascript_custom/unslider.js
/themes/default/javascript/glide.js
/themes/default/javascript/jquery_autocomplete.js
/themes/default/javascript/jquery.js
/themes/default/javascript/webfontloader.js
/themes/default/javascript/_json5.js
/themes/default/javascript/masonry.js
/themes/default/javascript/mediaelement-and-player.js
/themes/default/javascript/modernizr.js
/themes/default/javascript/password_checks.js
/themes/default/javascript/plupload.js
/themes/default/javascript/_polyfill_fetch.js
/themes/default/javascript/_polyfill_general.js
/themes/default/javascript/_polyfill_keyboardevent_key.js
/themes/default/javascript/_polyfill_url.js
/themes/default/javascript/_polyfill_web_animations.js
/themes/default/javascript/select2.js
/themes/default/javascript/skitter.js
/themes/default/javascript/skitter.js
/themes/default/javascript/sound.js
/themes/default/javascript/toastify.js
/themes/default/javascript/widget_color.js
/themes/default/javascript/_wysiwyg_settings.js
/themes/default/javascript/xsl_mopup.js
/themes/*/templates_cached/*
