; LEGACY from v10
/data_custom/latest_activity.txt
/safe_mode_temp

; Similar to stuff defined in sources/files.php, but defined in terms of what we want never to be in Git
/data_custom/xml_config/hybridauth.xml
/data_custom/xml_config/parental_controls.xml
/_tests/assets/keys.csv
/lorem
/psalm.xml
/composer.phar
/phpcs.phar
/vendor
/composer.lock
/_tests/codechecker/codechecker.ini
/_tests/codechecker/checker.ini
/Icon?
/cgi-bin
*.bak
*.old
._*
test_a
/caches/http/*.bin
/temp/*
!/temp/index.html
!/temp/.htaccess
/sources_custom/user_sync__customise.php
/www.pid
/_critical_error.html
/critical_errors
.DS_Store
/.ftaccess
/.ftpquota
.netbeans_automatic_build
*.lst
*.class
*.cms
*.lcd
*.tcp
*.tcd
*.gcd
/caches/*/*.htm
/caches/*/*.xml
/caches/*/*.gz
/caches/*/*.br
/themes/*/templates_cached/*/*.js
/themes/*/templates_cached/*/*.css
/themes/*/templates_cached/*/*.tcp
/themes/*/templates_cached/*/*.gz
/themes/*/templates_cached/*/*.br
/data_custom/rate_limiting/*.json
/data_custom/*log.php
/exports/*/*.tar
/exports/*/*.gz
/exports/*/*.txt
/exports/backups/test
/exports/builds/*/*
/exports/static
/imports/*/*.tar
/mobiquo/logging.bin
/mobiquo/include/request_helper.bin
/data_custom/ckeditor
/data_custom/sitemaps/*.xml
/data_custom/sitemaps/*.gz
/data_custom/sitemaps/*.br
/data_custom/modules/chat/*.bin
/data_custom/modules/web_notifications/latest.bin
/cms_sitemap.xml
*.clpprj
*.csprj
/*.geany
/.project
/.settings
/.fleet
/.buildpath
/data_custom/latest_activity.bin
/data_custom/installer_step_8.bin
tmpfile__*
*.tmp
*~
/_vti*
*.log
error_log
thumbs.db
thumbs.db:encrypted
_old
gibb
gibberish
/bingsiteauth.xml
php.ini
/*.shtml
/uploads/auto_thumbs/*
/uploads/captcha/*
/uploads/incoming/*.bin
/uploads/*/*__*.png
images_custom/*/*__*.png
default/images/*/*__*.png
/uploads/*/*__*.jpg
images_custom/*/*__*.jpg
default/images/*/*__*.jpg
/uploads/*/*__*.jpeg
images_custom/*/*__*.jpeg
default/images/*/*__*.jpeg
/data_custom/failover_rewritemap.txt
/data_custom/failover_rewritemap__mobile.txt
_meta_tree
/themes/default/images_custom/*/logo/-logo.png
/themes/default/images_custom/*/logo/standalone_logo.png
/themes/default/images_custom/*/logo/small_logo.png
/themes/default/images_custom/*/logo/small_white_logo.png
/data_custom/ci_queue.bin
/System Volume Information
/themes/default/images_custom/icons_monochrome_sprite.svg
/themes/default/images_custom/icons_sprite.svg
/themes/default/images_custom/EN/
/themes/admin/images_custom/icons_monochrome_sprite.svg
/themes/admin/images_custom/icons_sprite.svg
/data_custom/keys/*
!/data_custom/keys/.htaccess
!/data_custom/keys/index.html
/data_custom/telemetry_challenge.txt
/_compiled/*
!/_compiled/.htaccess
!/_compiled/index.html

; The matched files should be blocked for the main Composr dev repository but not for Composr projects
/themes/_unnamed_/
/themes/_testing_/
/.gitconfig
/.htaccess
.idea
/data_custom/modules/google_appengine/*
!/data_custom/modules/google_appengine/index.html
/cron.yaml
/dos.yaml
/queue.yaml
/docs/api
*test.png
/info.php
/_config.php
/_config.php.bak*
/uploads/*/*
!/uploads/*/index.html
!/uploads/*/.htaccess
!/uploads/website_specific/example.csv
!/uploads/website_specific/*.sql
!/uploads/website_specific/cms_homesite
/uploads/website_specific/cms_homesite/demonstratr/servers/
/uploads/website_specific/cms_homesite/private.pem
/uploads/website_specific/cms_homesite/public.pem
; themes/[abcefghijklmnopqrstuvwxyz0123456789]*
*.[1234567890][1234567890][1234567890]*
pages/comcode_custom/*/*.txt
*/pages/comcode_custom/*/*.txt
!docs/pages/comcode_custom/*/*.txt
!adminzone/pages/comcode_custom/EN/comcode_safelist.txt
!adminzone/pages/comcode_custom/EN/insults.txt
!adminzone/pages/comcode_custom/EN/referrals.txt
!adminzone/pages/comcode_custom/EN/website.txt
!buildr/pages/comcode_custom/EN/docs.txt
!buildr/pages/comcode_custom/EN/rules.txt
!buildr/pages/comcode_custom/EN/start.txt
!pages/comcode_custom/EN/_google_search.txt
!pages/comcode_custom/EN/_unslider_slide1.txt
!pages/comcode_custom/EN/_unslider_slide2.txt
!pages/comcode_custom/EN/_unslider_slide3.txt
!pages/comcode_custom/EN/_unslider_slide4.txt
!pages/comcode_custom/EN/_unslider_slide5.txt
!pages/comcode_custom/EN/_unslider_slide6.txt
!site/pages/comcode_custom/EN/topsites.txt
pages/html_custom/*/*.htm
*/pages/html_custom/*/*.htm
/data_custom/spelling/personal_dicts/*.pws
/data_custom/spelling/personal_dicts/*.pwl
/themes/default/images_custom/*logo.png
/_tests/codechecker/functions.bin
/if_hosted_service.txt
/.htpasswd
/robots.txt
/closed.html
/closed.html.old
/sites
/db.sql
*.tempfile
/data_custom/modules/user_export/out.csv
/data_custom/execute_temp.php
/cms.sql
/tracker/uploads/
/stats
/uploads/website_specific/cms_homesite/upgrades/full
/data_custom/fonts/*.ttf
/nbproject
_old_backups
/_tests/codechecker/netbeans/target/

; Third party forum folders
/mybb
/phpBB3
/smf
/sources_custom/openspout/nbproject/private/